
.chat {
    margin: auto;
    margin-left: 1rem;
    color: #444;
    height: 45rem;
    max-width: 35rem;
    box-shadow: 1rem 1.5rem 2.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem 2rem 1rem 1rem;
    overflow: hidden;
    font-size: 1.6rem;
}

.chat__messages {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 1.5rem;
}


@media (max-width: 1300px) {

    .chat {
        margin: auto;
    }

}


