.chat__controls {
    border-top: 1px solid #ccc;
    display: flex;
    padding: 1rem;
}

.chat__input {
    min-width: 10rem;
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
    outline: none;
    border: 2px solid var(--secondary-main);
    padding: 0 1.5rem;
    margin-right: 1rem;
    border-radius: 3rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: block;
    flex: 1;
}

.chat__btn-send {
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    font-family: inherit;
    display: block;
    font-size: inherit;
    color: white;
    background-color: var(--secondary-main);
    padding: .75rem 1.5rem;
}

.chat__btn-send:hover {
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(0, 0, 0, 0.15);
}
.chat__btn-send:active {
    transform: translateY(-1px);
}