.game-page {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5rem 1fr;

    grid-template-areas: 'message message' 'game chat';
    /*display: flex;*/


    /*height: 100%;*/
}
.info{
    font-size: 2rem;
    text-align: center;
}
.error {
    height: 100vh;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1300px) {
    .game-page {

        grid-template-columns: 600px 1fr;

        margin: 2rem;
        gap: 2rem;
    }
}

@media (max-width: 1000px) {

    .game-page {
        grid-template-columns: 1fr;
        grid-template-areas: 'message' 'game' 'chat';
    }


}

@media (max-width: 550px) {
    .game-page {
        grid-template-columns: 1fr;
        margin: 1rem;
    }

}